<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/course?useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="resources/Mapping/AdminMapping.xml"/>
        <mapper resource="resources/Mapping/StudentMapping.xml"/>
        <mapper resource="resources/Mapping/TeacherMapping.xml"/>
        <mapper resource="resources/Mapping/UserAuthMapping.xml"/>
        <mapper resource="resources/Mapping/SectionMapping.xml"/>
        <mapper class="sjtu.dolo.mapper.SectionMapper"/>
        <mapper class="sjtu.dolo.mapper.TakesMapper"/>
        <mapper class="sjtu.dolo.mapper.LoginMapper"/>
        <mapper class="sjtu.dolo.mapper.StudentMapper"/>
        <mapper class="sjtu.dolo.mapper.UserAuthMapper"/>
    </mappers>
</configuration>
